h1  {
	text-align: center;
	color : blue;
	font-family: helvetica;
	font-size: 40px;
}

.timer {

background-color:blue;  /* Fond gris */
height:135px;
width:375px;

/* Centrer horizontalement */
margin-left:auto; 
margin-right:auto;

/*Centrer verticalement*/
margin-top:182.5px;

/*Arondit les angles*/
border-radius:5px;

/*Ajoute la police que nous avions intégrer*/
font-family:Chrono;

/*Définit la couleur et la taille du texte */
color:white;
font-size:100px;

/*Aligne le texte au centre*/
text-align:center;
}

.bouton {
	text-align: center;
	border-radius: 10px;
	
}
	
}
.chrono {
	text-align: center;
	margin-bottom: 30px;
	
}
body {
	text-align: center;
}